<h2 class="font-weight-bold">Matching Availability</h2>
<div>
  <h3>Preview</h3>
  <%= simple_form_for :matching_form, url: matching_pre_matching_path, method: "GET" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :user_id, collection: User.all, label_method: lambda { |owner| "#{owner.id} --> #{owner.user_name}" }, value_method: :id, label: "Select user", include_blank: false, selected: @user&.id %>
      </div>
      <div class="col-md-6">
        <%= f.input :wday, collection: @days, label_method: lambda { |x| x[0] }, value_method: lambda { |x| x[1] }, label: "Select Week Day", include_blank: false, selected: @days[@wday] %>
      </div>
    </div>
    <%= f.submit "Get Data", class: "btn btn-primary" %>
  <% end %>
  <h3 class="my-3">Precalculate</h3>
  <%= simple_form_for :matching_form, url: matching_pre_matching_calculate_path, method: "POST" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :user_id, collection: User.all, label_method: lambda { |owner| "#{owner.id} --> #{owner.user_name}" }, value_method: :id, label: "Select user", include_blank: false, selected: @user&.id %>
      </div>
      <div class="col-md-6">
        <%= f.input :threshold_distance, label: 'Threshold (km)', as: :integer, input_html: { value: @threshold } %>
      </div>
    </div>
    <%= f.submit "Calculate", class: "btn btn-warning" %>
  <% end %>
</div>

<% if @user %>
  <% @user.routines.where(week_day: @wday).each_with_index do |routine, index| %>
    <div class="card border-secondary my-3">
      <div class="card-header">Routine <%= index+1 %></div>
      <div class="card-body text-secondary overflow-auto">
        <h4 class="font-weight-bold">Matching Matrix</h4>
        <table class="table my-4">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-nowrap">Nearby</th>
            <th scope="col" class="text-nowrap">Visualize</th>
          </tr>
          </thead>
          <tbody >
          <% pickups = [] %>
          <% potential_routine_locations = routine.routine_locations.includes(:location).order('locations.time_range ASC').uniq { |p| p.location.time_range && p.location.address } %>
          <% potential_routine_locations.each do |routine_location| %>
            <% processed = [] %>
            <% location = routine_location.location %>
            <tr>
              <td scope="row" class="text-nowrap">
                <%= location.address %><br>
                <%= location.time_range %><br>
                <%= location.id %>
              </td>
              <td scope="row">
                <% processed << {
                  :location => location,
                  :nearbies =>  routine_location.routine_location_nearbies
                } %>

                <% puts processed.count %>
                <% routine_location.routine_location_nearbies.sort_by(&:distance).each do |nearby| %>
                  <div>
                    User #<%= nearby.user_from_id %> --> <%= nearby.location_from.address %> (<%= nearby.distance %> km) <%= nearby.routine_location_id %>
                  </div>
                <% end %>
              </td>
              <td>
                <% paths = routine_location.routine_location_nearbies.map {|nearby| "&markers=color:red%7Clabel:#{nearby.user_from_id}%7C#{nearby.location_from.latitude},#{nearby.location_from.longitude}" }.join('') %>
                <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=1000x1000&markers=color:red%7Clabel:S%7C#{location.latitude},#{location.longitude}#{paths}&key=#{ENV['GOOGLE_MAP_API_KEY']}", alt: "Map", class: 'img-fluid' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <h4>Rides Suggestion</h4>

        <table class="table my-4">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Rider</th>
            <th scope="col" class="text-nowrap">Pickup User + Location</th>
          </tr>
          </thead>
          <tbody >
          <tr>
            <td scope="row" class="text-nowrap">21 Đặng Trần Côn Quốc Tử Giám Đống Đa Hà Nội Việt Nam</td>
            <td scope="row" class="text-nowrap">
              User #8 --> 44 P. Tôn Đức Thắng Cát Linh Đống Đa Hà Nội Việt Nam (0.2279749348750322 km)<br>
              User #7 --> 75 P. Ô Chợ Dừa Chợ Dừa Đống Đa Hà Nội Việt Nam (1.0325989338783677 km)
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>