<h2>Pre-Processing LDA</h2>
<div class="table-responsive">

  <%= simple_form_for :search, url: modeling_pre_processing_lda_path, method: "GET" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :start_time, label: 'Start Week', as: :string, input_html: {type: :date, value: @start_time} %>
      </div>
      <div class="col-md-6">
        <%= f.input :end_time, label: 'End Week', as: :string, input_html: {type: :date, value: @end_time}  %>
      </div>
      <div class="col-md-6">
        <%= f.input :user_id, collection: User.all, label_method: lambda { |owner| "#{owner.id} --> #{owner.user_name}" }, value_method: :id, label: "Select user", include_blank: false, selected: @user&.id %>
      </div>
    </div>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
  <table class="mt-4 table table-striped table-sm">
    <thead>
    <tr>
      <th>Date</th>
      <th>User ID - Name</th>
      <th>Address Name</th>
      <th>Address ID</th>
      <th>Time Range</th>
      <th>Hashing LDA</th>
    </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry[0] %> / <b><%= Date.parse(entry[0]).strftime('%A') %></b></td>
          <td>
            <% entry[1].each do |location| %>
              <div><%= "#{location.user.id}" %></div>
            <% end %>
          </td>
          <td>
            <% entry[1].each do |location| %>
              <div style="white-space: nowrap;">
                <% if location.location_name %>
                  <%= location.location_name %>
                <% else %>
                  <br/>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <% entry[1].each do |location| %>
              <div><%= location.place_id %></div>
            <% end %>
          </td>
          <td>
            <% entry[1].each do |location| %>
              <div style="white-space: nowrap;"><%= location.time_range %></div>
            <% end %>
          </td>
          <td>
            <% entry[1].each do |location| %>
              <div><%= location.hashing_lda %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>