<h2>Analysis - Routine Trip Illustrate</h2>
<div>
  <%= simple_form_for :analysis_form, url: modeling_routes_trip_lda_path, method: "GET" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :user_id, collection: User.all, label_method: lambda { |owner| "#{owner.id} --> #{owner.user_name}" }, value_method: :id, label: "Select user", include_blank: false, selected: @user&.id %>
      </div>
      <div class="col-md-6">
        <%= f.input :wday, collection: @days, label_method: lambda { |x| x[0] }, value_method: lambda { |x| x[1] }, label: "Select Week Day", include_blank: false, selected: @days[@wday] %>
      </div>
    </div>
    <%= f.submit "Get Data", class: "btn btn-primary" %>
  <% end %>

  <% if @user %>
    <%= render partial: 'modeling/routes_trip_lda/model_info', locals: {:mdl => @mdl} %>
  <% end %>
</div>